<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vole.portal.mapper.SysDeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.github.vole.portal.model.entity.SysDept">
		<id column="dept_id" property="id" />
		<result column="dept_name" property="deptName" />
		<result column="dept_desc" property="deptDesc" />
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

</mapper>
