<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vole.mps.mapper.MemberMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.vole.mps.model.entity.Member">
        <id column="member_id" property="memberId"/>
        <result column="membername" property="membername"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

</mapper>
